@model AjaxChat.Models.ChatModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Чат на Ajax и JQuery</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr") @*библиотека, позволяющая определить, поддерживает ли браузер те или иные возможности HTML5 и CSS3*@
    @Scripts.Render("~/bundles/jquery") @*базовая библиотека jQuery, на которую опираются большинство других скриптов*@
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*функциональность Ajax-хелперов*@
</head>
<body>
    <div id="Username">
    </div>
    <div id="LastRefresh">
    </div>
    <div id="container">
        <div id="loginBlock">
            Введите имя:
            <input type="text" id="txtUserName" />
            <button id="btnLogin" value="Войти">Войти</button>
        </div>
    </div>
    <div id="Error">
    </div>
    @Ajax.ActionLink(
                "Login", // Внутренний текст элемента привязки
                "Index", // Имя метода действия
                new { user = "" }, // Объект, содержащий параметры для маршрута
                new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" }, // Объект, предоставляющий возможности для асинхронного запроса
                new // Объект, содержащий атрибуты HTML, которые следует задать для элемента.
                {
                   id = "LoginButton",
                   style = "visibility:hidden;" 
                })
    
    @Scripts.Render("~/Scripts/chat.js")
</body>
</html>
