@model IEnumerable<MultilingualSite.Models.Club>

@{
    ViewBag.Title = @Resources.Resource.IndexHeader;
}

<h2>@Resources.Resource.IndexHeader</h2>

<p>
    @Html.ActionLink(@Resources.Resource.CreateLink, "CreateClub")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
    </tr>
}
</table>
