@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Country</title>

@helper CreateList(string[] all)
{
    <ul>
        @foreach (string s in all)
        {
            <li>@s</li>
        }
    </ul>
}

</head>
<body>
    <div>
        <h2>Country</h2>

        @{
            string[] cities = new string[] { "Лондон", "Париж", "Киев" };
        }
        @{
            string[] countries = new string[] { "Великобритания", "Франция", "Украина" };
        }
        <h3>Города</h3>
        @CreateList(cities)
        <br />
        <h3>Страны</h3>
        @CreateList(countries)

        @using StudentsMVC.Helpers
        <h3>Города</h3>
        @Html.CreateList(cities)
        <br />
        <h3>Страны</h3>
        <!-- или можно вызвать так -->
        @ListHelper.CreateList(Html, countries)
    </div>
</body>
</html>
