<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("ChangeCulture", "Club"))
        {
        <select name="lang">
            <option disabled selected>@Resources.Resource.ChooseLang</option>
            <option value="ru">Русский</option>
            <option value="en">English</option>
            <option value="uk">Українська</option>
            <option value="de">Deutsch</option>
        </select>
            <input type="submit" name="submit" value="@Resources.Resource.ChooseLang">
        }
    </div>
    @RenderBody()
</body>
</html>