@model BooksMVC.Models.books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>books</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pages)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pages)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearPress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearPress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Themes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Themes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Press)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Press)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
