@model Soccer.Models.Teams

@{
    ViewBag.Title = "Edit";
}

<h2>Изменение команды</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Команда</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.Label("Название команды:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.Label("Тренер:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coach)
            @Html.ValidationMessageFor(model => model.Coach)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку команд", "Index")
</div>


