@model IEnumerable<Soccer.Models.Teams>

@{
    ViewBag.Title = "Index";
}

<h2>Каталог команд</h2>
<p>
    @Html.ActionLink("Добавить команду", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Label("Название команды")
        </th>
        <th>
            @Html.Label("Тренер")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coach)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Просмотреть", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Каталог игроков", "Index", "Players")
</p>