@model MvcModels.Models.User
@{
    ViewBag.Title = "CreateUser";
}

<h2>Добавить пользователя</h2>
@using (Html.BeginForm( "DisplaySummary", "Home"  ))
{
    <div>@Html.LabelFor(m => m.UserId)@Html.EditorFor(m => m.UserId)</div>
    <div>@Html.LabelFor(m => m.FirstName)@Html.EditorFor(m => m.FirstName)</div>
    <div>@Html.LabelFor(m => m.LastName)@Html.EditorFor(m => m.LastName)</div>
    <div>
        @Html.LabelFor(m => m.HomeAddress.City)
        @Html.EditorFor(m => m.HomeAddress.City)
    </div>
    <div>
        @Html.LabelFor(m => m.HomeAddress.Country)
        @Html.EditorFor(m => m.HomeAddress.Country)
    </div>
    <button type="submit">Отправить</button>
}